li:hover {
    background-color: #90bdeb88;
}
#menu_now {
    background-color: #90bdeb88;
}
table {
    margin-bottom: 20px;
    width: 80%;
    border: 3px solid #484891;
    border-collapse: collapse;
    /* text-align: center; */
}
tbody tr {
    text-align: left;
}
tr {
    height: 30px;
}
th {
    font-size: 30px;
    /* background-color: #90bdeb88; */
}
td {
    border: 1px solid #000;
    text-align: center;
}
.b {
    font-weight: bold;
}
.add_btn {
    margin: 10px;
    width: 50%;
    height: 30px;
    font-size: 18px;
    background-color: lightblue;
    border: 0.5px solid blue;
}
.tittle {
    font-size: 20px;
}
textarea {
    min-width: 500px;
    min-height: 200px;
}
#update_course {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    font-size: 20px;
}
.department_customized {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}
.department_customized div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
label {
    margin-right: 20px;
}
.annotation {
    color: lightslategrey;
}
#see_unclear td {
    background-color: yellow;
}